@use "./reset" as *;
@use "./variables/global" as *;
@use "./themes/normal" as *;
@use "./themes/dark" as *;

// @import "./reset";
// @import "./variables/global";
// @import "./themes/normal";
// @import "./themes/dark";

// @use "../../shared/styles/_mixins.scss";
// @use "../../shared/styles/_variables.scss";

body {
  font-size: var(--font-m);
  color: var(--primary-color);
  background-color: var(--bg-color);
}



.app {
  background-color: var(--bg-color);
  min-height: 100vh;
  color: var(--primary-color);
}

.content-page {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
