.app.light {
  --bg-color: rgb(255 255 255);
  --inverted-bg-color: rgb(10 162 233);
  --primary-color: rgb(224 158 14 / 66.4%);
  --secondary-color: rgb(78 5 92);
  --color-warning: rgb(252, 5, 5);
}
