.loadingSpinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 4px solid rgb(63 62 63 / 50%);
  border-radius: 50%;
  border-top-color: #eb820b;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
